{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
	<h5>Influence of various social media platforms like Twitter, Facebook, Snapchat and Twitter.</h5>
    <img src="/static/i.jpg" alt="Social Media influence">
    <h5>Dataset Snippet</h5>
    <img src="/static/dataset.jpg" alt="Social Media influence" height="700px" width="800px">
    <h5>Code Snippet</h5>
    <img src="/static/code.jpg" alt="Social Media influence" height="700px" width="800px">
</div>
{% endblock %}